@layer reset, layout, components, defaults, custom;

/* Reset */
@import "./reset/_reset.css"                    layer(reset);

/* Layout */
@import "./layout/_header.css"                  layer(layout);
@import "./layout/_footer.css"                  layer(layout);
@import "./layout/_bottom_navigation.css"       layer(layout);
@import "./layout/_sidemenu.css"                layer(layout);
@import "./layout/_nav.css"                     layer(layout);


/* Components */
@import "./fonts/google-icons-rounded.css"      layer(components); 
@import "./components/_form.css"                layer(components);
@import "./components/_img.css"                 layer(components);
@import "./components/_inputs.css"              layer(components);
@import "./components/_container.css"           layer(components);
@import "./components/_card.css"                layer(components);
@import "./components/_dialog.css"              layer(components);
@import "./components/_audio_video.css"         layer(components);
@import "./components/_details.css"             layer(components);
@import "./components/_progress.css"            layer(components);
@import "./components/_swipe.css"               layer(components);

/* @import "./layout/_dialog_nesting_support.css"; */

/* Defaults */
@import "./ui/font.css"                         layer(defaults);
@import "./ui/box_shadow.css"                   layer(defaults);
@import "./ui/sizes.css"                        layer(defaults);
@import "./ui/verticle.css"                     layer(defaults);
