@layer components {
    #notification_wrapper{
        position: fixed;
        display: grid;
        justify-items:center;
        gap: 1rem;
        top: 1.5rem;
        max-width: 1000px;
        width: 80%;
        z-index: 20000;
        left: 50%;
        transform: translate(-50%);
        background-color: transparent;
        border:none;
        overflow:visible;
    }

    .notification {
        display: grid;
        height:min-content;
        grid-template-columns: min-content auto min-content;
        padding: 0rem;
        border-radius: 0.5rem;
        align-items: center;
        align-content: center;
        gap: 1rem;
        color: var(--clr-neutral-900);
        .notification_msg{
            display:flex;
            width:fit-content;
            padding: 0.25em 0;
            
        }
        .notification_icon{
            display:grid;
            align-self:center;
            padding-left: 0.25rem;
            svg{
                fill: var(--text-color) !important;
                stroke: var(--text-color) !important;
            }
        }
        .notification_close{
            height:100%;
            width:2.25rem;
            padding-right: 0.25rem;
            cursor:pointer;
            display:flex;
            background-color: transparent;
            border:none;
            svg{height:1.5rem; width:100%;align-self:center; }
        }
        &[data-type="info"]{
            background-color: var(--clr-info-500);
            box-shadow: 0rem 0rem 1.5rem var(--clr-info-600);
        }
        
        &[data-type="error"]{
            background-color: var(--clr-danger-600);
            box-shadow: 0rem 0rem 1.5rem var(--clr-danger-600);
        }

        &[data-type="warning"]{
            background-color: var(--clr-warning-500);
            box-shadow: 0rem 0rem 1.5rem var(--clr-warning-500);
        }

        &[data-type="success"]{
            background-color: var(--clr-success-600);
            box-shadow: 0rem 0rem 1.5rem var(--clr-success-600);
        }
    }
}