:root{
    font-size: 1rem;
    --fs-100: 0.8rem;
    --fs-200: 0.9rem;
    --fs-300: 1rem;
    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 3rem;

    --fw-400: 400;
    --fw-600: 600;
    --fw-700: 700;
    --fw-800: 800;
}
    

.fs-100{ font-size:  var(--fs-100)!important;}
.fs-200{ font-size:  var(--fs-200)!important;}
.fs-300{ font-size:  var(--fs-300)!important;}
.fs-400{ font-size:  var(--fs-400)!important;}
.fs-500{ font-size:  var(--fs-500)!important;}
.fs-600{ font-size:  var(--fs-600)!important;}
.fs-700{ font-size:  var(--fs-700)!important;}
.fs-800{ font-size:  var(--fs-800)!important;}
.fs-900{ font-size:  var(--fs-900)!important;}

.fw-400{font-weight: 400!important; }
.fw-600{font-weight: 600!important; }
.fw-800{font-weight: 800!important; }


.fs-title{font-size: min(5.5vw, 2.5em)!important}

.heading-1{font-size: var(--fs-600); line-height: var(--fs-600); font-weight: var(--fw-800); text-decoration: none; word-wrap: anywhere}
.heading-2, font[size="1"]{font-size: var(--fs-500); line-height: var(--fs-500); font-weight: var(--fw-700); text-decoration: none; word-wrap: anywhere}
.heading-3, font[size="2"]{font-size: var(--fs-400); line-height: var(--fs-400); font-weight: var(--fw-600); text-decoration: none; word-wrap: anywhere}
.heading-4{font-size: var(--fs-300); line-height: var(--fs-300); font-weight: var(--fw-600); text-decoration: none; word-wrap: anywhere; font-style: italic;}

.heading-1-accent:hover, 
.heading-2-accent:hover, 
.heading-3-accent:hover,
.heading-4-accent:hover {color:var(--clr-headings-accent);}

.text-hover:hover{
    color:var(--text-hover);
}

font[size="7"]{
    font-size: var(--fs-300); font-weight: var(--fw-400);  text-decoration: none; word-wrap: anywhere; font-style: normal;
}

u{
    text-decoration: underline;
}