.footer{
    --footer-color: var(--clr-neutral-100);
    padding: 2rem 5%;
    width: 100%;
    background-color: var(--clr-neutral-800);
    color: var(--footer-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    img{
        width: 5rem;
        aspect-ratio: 1/1;
    }
    .main-page{
        display: flex;
        gap:0.25rem;
        align-items: center;
        align-content: center;
        line-height: var(--text-size);
        font-size: var(--text-size);
    }
    nav{
        border-top: 3px dotted var(--footer-color);
        padding-top: 1rem;
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
    }
}

.footer .nav a:hover{
    color: var(--clr-neutral-200)!important;
}

@media screen and (max-width:700px){
    body:has(.bottom_navigation){
        .footer{
            margin-bottom: var(--nav-bottom-height);
        }    
    }
    .footer{
        font-size: 0.9rem;
    }
}

@media (prefers-color-scheme: dark) {
    .footer{
        background-color: var(--clr-neutral-200)!important;
        --footer-color: var(--clr-neutral-900)!important;
    }
}