.wNav {
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    max-width: var(--width-normal);
    margin: 0 auto;

    a {
        display: table-cell;
        padding: 0.3rem 0.5rem;
        cursor: pointer;
        text-decoration: none;

        &:hover,
        &:focus,
        &[active] {
            color: var(--clr-nav-accent);
        }
    }
}

.wSidenav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    a {
        display: block;
        padding: 0.5rem;
        cursor: pointer;
        text-decoration: none;


        &:hover,
        &:focus {
            color: var(--clr-nav-accent);
        }
    }
}