.sidemenu_controll{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.sidemenu_controll *{
    opacity: 1;
    grid-row: 1/2;
    grid-column: 1/2;
}

.sidemenu{
    position: fixed;
    top:0;
    left: 0vw;
    right: 0;
    height: 100dvh;
    width: 100vw;
    transition: left 0.3s ease-in-out;
    z-index: 15;
    box-sizing: border-box;
}

.sidemenu::before{
    content: "";
    position: absolute;
    left: 0vw;
    height: 100%;
    width: 100vw;
    background-color: var(--bg-sidemenue-blur);
    opacity: 0.5;
    z-index: -1;
}

.sidemenu[type="close"]{
    left: -100vw;
    transition: left 0.2s ease-in-out;
    transition-delay: .1s;
}

.sidemenu[type="close"][data-set="right"]{
    right: -100vw;
    transition: right 0.2s ease-in;
    transition-delay: .1s;
}

.sidemenu_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    height: 100%;
    gap: 2.5rem;
    padding: 3rem;
    box-sizing: border-box;
    background-color: var(--bg-sidemenu);
    font-size: var(--fs-sidemenu);
    overflow-y: auto;
}

.sidemenu_content .sidemenu_main_content{
    gap:2.5rem;
}

.sidemenu_content .button{
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
    box-sizing: border-box;
    color: var(--clr-primary-900);
}

.sidemenu *{
    color: var(--clr-primary-900);
}

.sidemenu a[type="close"]{
    display: none;
}

.sidemenu a{
    color: var(--clr-primary-100);
}

@media screen and (max-width:700px){
    .sidemenu_content{
        width: 66vw;
        padding: 3rem 1.5rem;
    }
}