<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../controll.css">
    <title>Document</title>
    <style>
        main{
            min-height: 150dvh;
        }
    </style>
</head>
<body>
    <header class="header" data-shrink="true" data-fixed="true">
        <div class="header-inline" style="--align:space-between">
            <img class="logo" src="../../logos/wuefl.svg" alt="" srcset="">
            <nav>
                <a href="#ttt">1 Lorem.</a>
                <a href="#">2 Lorem, ipsum.</a>
                <a href="#">5 lorem</a>
            </nav>
        </div>
        <nav>
            <div class="nav-inline">
                <a href="#ttt">1 Lorem.</a>
                <a href="#">2 Lorem, ipsum.</a>
                <a href="#">5 lorem</a>
                <a href="#ttt">1 Lorem.</a>
                <a href="#">2 Lorem, ipsum.</a>
                <a href="#">5 lorem</a>
                <a href="#ttt">1 Lorem.</a>
                <a href="#">2 Lorem, ipsum.</a>
                <a href="#">5 lorem</a>
                <a href="#ttt">1 Lorem.</a>
                <a href="#">2 Lorem, ipsum.</a>
                <a href="#">5 lorem</a>
                <a href="#ttt">1 Lorem.</a>
                <a href="#">2 Lorem, ipsum.</a>
                <a href="#">5 lorem</a>
            </div>
        </nav>
    </header>
    <main class="main" id="ttt">
        Some content
    </main>
</body>
</html>