/* ========== InP Modal ========== */
@layer components {
    :root {
        --_inp-color: var(--inp-color, var(--clr-neutral-50, light-dark(hsl(0 0 100%), hsl(0 0 10%))));
        --_inp-bg: var(--inp_bg, var(--_inp-color));
        --_inp-backdrop: var(--inp-backdrop, hsl(from var(--_inp-color) h s l / 0.2));
        --_inp-boxshadow: var(--inp-boxshadow, hsl(from var(--_inp-color) h s 20%));
        --inp-text: var(--text-color, light-dark(hsl(0 0 10%), hsl(0 0 95%)));

    }
    html:has(.inp-modal[open]), body:has(.inp-modal[open]){
        overflow:hidden;
    }

    .inp-modal[open] {
        position: fixed;
        place-self: center;
        min-width: min(500px, 90vw);
        max-width: min(800px, 100vw);
        width: max-content;
        max-height: 90dvh;
        border: none;
        padding: 0;
        border-radius: 1.5rem;

        background-color: var(--_inp-bg);
        box-shadow: 0 0 1rem var(--_inp-boxshadow);

        color: var(--inp-text);
        animation: inp-fade-in 0.2s ease-out;

        overflow: auto;

        &::backdrop {
            background: var(--_inp-backdrop);
            backdrop-filter: blur(3px);
        }

        &>* {
            position: relative;
        }

        @media screen and (max-width:525px) {
            & {
                min-width: min(450px, 100vw);
                align-self: start;
                border-radius: 0 0 1rem 1rem;
            }
        }
    }

    @keyframes inp-fade-in {
        from {
            opacity: 0;
            transform: scale(0.95);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }
    }
}