@layer components {
    .picker_trigger_elm {
        color-scheme: light dark;

        --d-bg-picker:light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 10%));
        --d-clr-picker:light-dark(hsl(0, 0%, 10%),hsl(0, 0%, 90%));
        --d-fs-picker-header:1rem;
        --d-fs-input-picker:0.9rem;
        --d-br-picker:0.5rem;
        --d-height-input-picker:2rem;
        --d-bg-input-picker: light-dark(hsl(219, 100%, 50%), hsl(219, 100%, 30%));
        --d-bg-hover-input-picker: light-dark(hsl(219, 100%, 60%), hsl(219, 100%, 20%));
        --d-bg-option-picker: light-dark(hsl(0, 0%, 80%), hsl(0, 0%, 20%));
        --d-bg-hover-option-picker: light-dark(hsl(0, 0%, 85%), hsl(0, 0%, 15%));
        --d-bg-selected-option-picker: light-dark(hsl(219, 100%, 50%), hsl(219, 100%, 30%));
        --d-bg-selected-hover-option-picker:light-dark(hsl(219, 100%, 55%), hsl(219, 100%, 25%));

        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        background-color: var(--bg-picker, var(--d-bg-picker));
        color: var(--clr-picker, var(--d-clr-picker));
        padding: 0.5rem;
        border-radius: var(--br-picker, var(--d-br-picker));
        font-size: var(--fs-input-picker, var(--d-fs-input-picker));
        align-items: center;
        &:before{
            content: "";
            border: 0.5rem solid;
            height: 0.25rem;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom: none;
        }
    }
    .custom_picker_popover{
        color-scheme: light dark;

        --d-bg-picker:light-dark(hsl(0, 0%, 90%), hsl(0, 0%, 10%));
        --d-clr-picker:light-dark(hsl(0, 0%, 10%),hsl(0, 0%, 90%));
        --d-fs-picker-header:1rem;
        --d-fs-input-picker:0.9rem;
        --d-br-picker:0.5rem;
        --d-height-input-picker:2rem;
        --d-bg-input-picker: light-dark(hsl(219, 100%, 50%), hsl(219, 100%, 30%));
        --d-bg-hover-input-picker: light-dark(hsl(219, 100%, 60%), hsl(219, 100%, 20%));
        --d-bg-option-picker: light-dark(hsl(0, 0%, 80%), hsl(0, 0%, 20%));
        --d-bg-hover-option-picker: light-dark(hsl(0, 0%, 85%), hsl(0, 0%, 15%));
        --d-bg-selected-option-picker: light-dark(hsl(219, 100%, 50%), hsl(219, 100%, 30%));
        --d-bg-selected-hover-option-picker:light-dark(hsl(219, 100%, 55%), hsl(219, 100%, 25%));
        
        position:absolute;
        display: grid;
        grid-template-rows: min-content min-content  min-content;
        gap:0.25rem;
        background-color: var(--bg-picker, var(--d-bg-picker));
        color: var(--clr-picker, var(--d-clr-picker));
        font-size: var(--fs-picker-header, var(--d-fs-picker-header));
        border-radius: var(--br-picker, var(--d-br-picker));
        border: none;
        padding: 1rem;

        *{
            box-sizing: border-box;
        }

        .picker_header{
            display: flex;
            gap:1rem;
            justify-content: space-between;
            align-items: center;
            .picker_title{
                margin: 0;
                font-size: var(--fs-picker-header, 1.2rem);
            }
            .picker_actions{
                display: flex;
                gap:0.5rem;
                .picker_btn{
                aspect-ratio: 1/1;
                }
            }
        }

        .picker_content{
            list-style: none;
            margin: 0;
            padding: 0;
            .picker_option{
                display: grid;
                grid-template-columns: 1fr auto;
                
                padding: 0.5rem;
                background-color: var(--bg-option-picker, var(--d-bg-option-picker));
                cursor: pointer;
                &:hover{
                background-color: var(--bg-hover-option-picker, var(--d-bg-hover-option-picker));
                }

                &.selected{
                background-color: var(--bg-selected-option-picker, var(--d-bg-selected-option-picker));
                &:hover{
                    background-color: var(--bg-selected-hover-option-picker, var(--d-bg-selected-hover-option-picker))
                }
                }

                &[data-nodata]{
                    border-radius: var(--br-picker, var(--d-br-picker));
                }

                &:first-child{
                border-radius: var(--br-picker, var(--d-br-picker)) var(--br-picker, var(--d-br-picker)) 0 0; 
                }
                &:nth-last-child(2){
                border-radius:  0 0 var(--br-picker, var(--d-br-picker)) var(--br-picker, var(--d-br-picker)); 
                }
            }
        }
        
        .picker-footer button{
            width: 100%;
        }

        .picker_search{
            height: var(--height-input-picker, var(--d-height-input-picker));
            width: 100%;
            padding: 0.25rem;
            border-radius: var(--br-picker, var(--d-br-picker));
            cursor: pointer;
            border: 1.5px solid;
            border-color:  var(--bg-input-picker, var(--d-bg-input-picker));
            &:focus{
                outline:none;
                border-width: 2.5px;
            }
        }

        .picker_btn{
            display: grid;
            place-items: center;
            border-radius: var(--br-picker, var(--d-br-picker));
            border: none;
            height: var(--height-input-picker, var(--d-height-input-picker));
            background-color: var(--bg-input-picker, var(--d-bg-input-picker)); 
            cursor: pointer;
            
            &:hover{
                background-color: var(--bg-hover-input-picker, var(--d-bg-hover-input-picker));
            }
        }
    }
}