#notification_wrapper{
    position: fixed;
    display: flex;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 2rem;
    max-width: 1000px;
    width: 80%;
    z-index: 20000;
    left: 50%;
    transform: translate(-50%);
    background-color: transparent;
}

.notification {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    align-items: center;
    align-content: center;
    gap: 1rem;
    color: var(--clr-neutral-100);
    .notification_msg{
      display:flex;
    }
    &[type="info"]{
        background-color: var(--clr-neutral-200);
        box-shadow: 0rem 0rem 2rem var(--clr-danger-600);
    }
    
    &[type="error"]{
        background-color: var(--clr-danger-600);
        box-shadow: 0rem 0rem 2rem var(--clr-danger-600);
    }

    &[type="warning"]{
        background-color: var(--clr-warning-500);
        box-shadow: 0rem 0rem 2rem var(--clr-warning-500);
    }

    &[type="success"]{
        background-color: var(--clr-success-600);
        box-shadow: 0rem 0rem 2rem var(--clr-success-600);
    }
    
    & > *:nth-child(1){
        font-size: 2rem;
        padding: 0 0.5rem;
    }
}
    
@media screen and (max-width:700px){
    .notification > *:nth-child(1){
        padding: 0rem;
        padding-right: 0.5rem; 
    }
}
