.wDetails {
    border: 1px solid var(--clr-neutral-200);
    border-radius: var(--br-default);
    overflow: hidden;
    background: var(--clr-neutral-50);
    /* box-shadow: 0 2px 12px var(--clr-neutral-200); */

    & summary {
        padding: 0.75rem 1rem;
        font-weight: 700;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: .625rem;
        list-style: none;
        user-select: none;
        transition: background .15s;

        &::-webkit-details-marker {display: none;}

        &:hover {background: var(--clr-neutral-100);}

        &::after {
            content: "";
            display: inline-block;
            margin-left: auto;
            width: 1.25rem;
            height: 1.25rem;
            background-color: currentColor;
            mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 -960 960 960'%3E%3Cpath d='M480-344 240-584l56-56 184 184 184-184 56 56-240 240Z'/%3E%3C/svg%3E");
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            transition: transform .2s;
        }
    }

    &[open]>summary {
        border-bottom: 1px solid var(--clr-neutral-200);
        &::after {transform: rotate(180deg);}
    }

    &> :not(summary) {
        overflow: hidden;
        height: 0;
        transition: height 5s ease;
    }

    &[open] > :not(summary) {height: auto;}
}