img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.i-img{
    aspect-ratio: 1/1;
    width: 1.5rem;
    height: 1.5rem;
}

.d-img{
    aspect-ratio: 16/9;
    width: 100%;
    height: 100%;
}