progress{
    appearance: none;
    border: none;
    border-radius: var(--br-default);
    color: var(--clr-primary-400);
    background-color: var(--clr-neutral-200);
    height: 0.75rem;
    width: clamp(0rem, 5rem, 100%);
}
progress[value]::-webkit-progress-bar{
    background-color: var(--clr-neutral-100);
    border-radius: var(--br-default);
}
progress[value]::-webkit-progress-value{
    background-color: var(--clr-primary-400) ;
    border-radius: var(--br-default);
}
progress::-moz-progress-bar {background-color: var(--clr-primary-400) }

progress.number_negative{
    color: var(--clr-danger-300);
}
progress.number_negative::-moz-progress-bar{
    background-color: var(--clr-danger-300) ;
}
progress.number_negative[value]::-webkit-progress-value {
    background-color: var(--clr-danger-300);
}
