/*
Slideshow CSS
Copyright: Florian Wüllner 2023

Inspieriet von: https://www.youtube.com/watch?v=uo91S2tdHHY
*/

/*
Slideshow CSS
Copyright: Florian Wüllner 2023

Inspieriet von: https://www.youtube.com/watch?v=uo91S2tdHHY
*/

.slideshow{
    position: relative;
    --local-ratio: var(--img-aspect-ratio);
    display: grid;
    grid-template-columns: minmax(2em, 10%) 1fr minmax(2em, 10%);
    grid-template-rows: 2rem 1fr 1.5rem;
    grid-template-areas: "left top right"
    "left info right"
    "left bottom right";
    max-width: var(--width-normal);
    aspect-ratio: var(--local-ratio);
    overflow: hidden;

    .slideshow_arrow{
        place-items: center;
        z-index: 2;
        height: 100%;
        width: 100%;
        font-size: 3rem;
        color: var(--clr-slideshow-arrows);
        cursor: pointer;
        user-select: none;
        display: grid;
        
        &:hover{
            transition: color 0.2s;
            color: var(--clr-slideshow-arrows-accent);
        }
    }

    .slideshow_arrow_left{
        grid-area: left;
    }

    .slideshow_arrow_right{
        grid-area: right;
    }

    /*---
    Punkte
    ---*/

    .slideshow_dots{
        grid-area: top;
        z-index: 2;
        display: flex;
        list-style-type: none;
        font-size: 1.5rem;
        justify-content: center;
        align-items: center;
        margin: 0rem;
        padding: 0rem;
        gap: 0.75rem;
        overflow-x: auto;
        overflow-y: clip;
    }

    .slideshow_dot{
        z-index:3;
        font-size: 1rem;
        user-select: none;
        cursor: pointer;
        opacity: 1;
        transition: opacity 1.5s;
        color: black;
        padding: 0rem 0.25rem;
        
        &[close]{
            font-size: 1rem;
            user-select: none;
            cursor: pointer;
            opacity: 0.5;
            transition: opacity 1.5s;
            color: black;
        }

        &:hover{
            opacity: 1;
            transition: opacity 0.2s;
        }
    }

    /*---
    Slide Design
    ---*/
    .slide_div, .slide{
        grid-row: 1/-1;
        grid-column: 1/-1;
        opacity: 1;
        transition: opacity 1.5s;
        display: grid;
        grid: inherit;
        box-sizing: border-box;
    }

    .slide[close]{
        visibility: hidden;
        opacity: 0.7;
        transition: opacity 1.5s;
    }

    .slide_img{
        grid-row: 1/-1;
        grid-column: 1/-1;
        height: 100%;
        width: 100%;
        aspect-ratio: var(--local-ratio);
        object-fit: cover;
    }

    .slide_text{
        grid-area: info;
        align-self: end;
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        box-sizing: border-box;
        background-color: rgba(200, 200, 200, 0.6);
        height: min-content;
    }

    .copyright{
        position: absolute;
        bottom: 0.25rem;
        left: 0.25rem;
        text-shadow: 0rem 0rem 1rem white;
        color: black;
        font-size: var(--fs-100);
    }

    &[ratio="fullscreen"]{
        --local-ratio: 16/9;
        max-height: 100dvh;
        max-width: 100%;
        grid-template-columns: 2rem auto 15% 1.5rem;
        grid-template-rows: 2rem auto auto 2rem;
        grid-template-areas: "left top top right"
            "left center center right"
            "left info qrcode right"
            "left bottom bottom right";
        
        .slide_text{
            font-size: 1.75vw!important;
            color: black!important;
            background-color: rgba(200, 200, 200, 0.7);
            gap: 0.25rem;
            & *{
                color: black;
            }
            & .newspaperLogo{
                font-size: 100%!important;
                aspect-ratio: 1/1;
            }
            & .schoolnewsLogo{
                font-size: 100%!important;
                aspect-ratio: 1/2;
            }
        }

        .qrcode{
            grid-area: qrcode;
            justify-self: end;
            align-self: end;
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: contain;
        }
    }
}

/*---
Handy 
---*/

@media screen and (max-width:700px) {
    .slideshow{
        aspect-ratio: 1/1;
        .slideshow_dots{
            font-size: 2.5rem;
        }
        .slide_img{
            width: 100%;
            aspect-ratio: 1/1;
        }
        .slide_text{
            text-align: left;
        }
    }
}